body{
	margin:0;
	color:#6a6f8c;
	background:url("../Img/R&L\ main_background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	font:600 16px/18px 'Open Sans',sans-serif;
    overflow: hidden;
}

*,:after,:before{
    box-sizing:border-box;
}
.clearfix:after,.clearfix:before{
    content:'';
    display:table;
}
.clearfix:after{
    clear:both;
    display:block;
}
a{
    color:inherit;
    text-decoration:none;
}

/*---Login---*/

.login-wrap,.login-html{
    border-radius: 0 0 20px 20px;
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:800px;
	position:relative;
	background:url("../Img/R&L\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow:10px 15px 35px 5px rgba(0, 0, 0, 0.815),0 17px 50px 0 rgba(0,0,0,.19); 
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(0, 0, 0, 0.589);  
}


.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .7s ;
}
.login-html .sign-in,
.login-html .sign-up{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
    transition: 0.3s;
}

.login-html .tab:hover{
    color:#00ACB4;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#DAE6E6;
	border-color:#00ACB4;
}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#DAE6E6;
	display:block;
	font-size:12px;
	outline: none;
}
.login-form .group .input,
.login-form .group .button{
	padding:15px 20px;
	border-radius:25px;
	background:#dae6e64f;
    transition: 0.5s;
}


.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
	font-size: 18px;
}

.login-form .group .button{
	background:#00ACB4;
    margin-top: 30px;
    border-color: #3D4A4D;
    
}
.login-form .group .button:hover{
    background:#01888f;
	border-color: #243033;
}
.login-form .group .input:hover
{
    
    border-color: #b4b4b4;
}


.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:40px 0 30px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
	color:#00cad4;
}